doctype html
head
  title Bike-Help
  style @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='../css/style.css')
header 
  h2 
  a Bike-Help 
  nav
    li
      a(href='#about') About 
    li
      a(href='#services') Our Services
    li
      a(href='#contact') Contact
section.banner-area
  .banner-img
  h1 Bike - Help 
  h2 Mobile Bicycle Repair Shop 
  h2 Haifa and north of Israel
  a.banner-btn(href='#') Contact Us
section#about.about-area
  h3.section-title About us
  ul.about-content 
    li.about-left 
    li.about-right 
      h3 About our company
      p Lorem ipsum dolor sit amet,
      a.about-btn Learn More
section#services.services-area  
  h3.section-title Services
  ul.services-content
    li
      i.fa.fa-bicycle
      h4 bikerepair
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem molestiae libero obcaecati veritatis quo ad dolore consequatur corrupti, illum, nesciunt aut eaque quam fuga praesentium id, pariatur dicta aperiam doloribus?
    li
      i.fa.fa-wrench
      h4 wheelrepair
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem molestiae libero obcaecati veritatis quo ad dolore consequatur corrupti, illum, nesciunt aut eaque quam fuga praesentium id, pariatur dicta aperiam doloribus?
section#services.contact-area  
  h3.section-title Contact
  ul.contact-content
    li
      i.fa.fa-map-marker
      p Kineret 3 </br> Haifa City, Israel
    li
      i.fa.fa-phone
      p +972504774448
    li
      i.fa.fa-envelope
      p info@bike-help.com
footer
  h4 All Rights Reserved - maxit